[2019-05-23 10:36] alexnuttinck opened #1 "Add a license"
MIT or Apache 2.0? Or another one?

[2019-05-29 07:57] #1 closed, assigned to banzo

[2019-06-03 12:15] banzo opened #2 "Add FAQ page"

[2019-06-03 12:15] banzo opened #3 "Add contributing guidelines"
- [x] contributing.md
- [x] issue template

[2019-06-04 06:59] banzo opened #4 "Move GCP installation instructions here"

[2019-06-04 07:00] banzo opened #5 "PGAdmin is not available on GCP"
Web interface works fine in minikube but not on GCP.

Maybe something to do with ssl config?

[2019-06-04 08:23] banzo commented on #3
see https://github.com/cetic/fadi/tree/master/.github/ISSUE_TEMPLATE for issue templates

[2019-06-04 08:23] #3 closed, assigned to nobody

[2019-06-04 15:57] alexnuttinck commented on #4
See https://github.com/cetic/fadi#04-deployment-on-gke

[2019-06-04 15:57] #4 closed, assigned to alexnuttinck

[2019-06-18 09:52] banzo opened #6 "Postgresql deployment failed"
**Describe the bug**

PostgreSQL pod error in local setup with minikube

**Version of Helm and Kubernetes**:

Latest

**What happened**:

[code]

In the pod logs:

[code]

**What you expected to happen**:

The stack to be available

**How to reproduce it** (as minimally and precisely as possible):

see above

**Anything else we need to know**:

Using KVM hypervisor

[2019-06-18 09:52] banzo commented on #6
After redeploying the stack, the problem does not reproduce

[2019-06-18 10:11] banzo opened #7 "Parametrise the installation"
**Is your feature request related to a problem? Please describe.**

When instanciating the stack, need a way to disable/enable services (e.g. use Superset and not Grafana, or both, or none, ...), maybe also provide custom configurations at the stack level (namespace, ...)

**Describe the solution you'd like**

A way to parametrise the stack: e.g. decide which services are active, add some configs,

[2019-06-18 11:52] banzo commented on #6
It happened again, maybe something related here: https://github.com/kubernetes/minikube/issues/3869

[2019-06-18 13:59] banzo opened #8 "Grafana deployment failed"
**Describe the bug**

The Grafana services is not deploying anymore, upon `deploy.sh`:

[code]

**Which chart**:

Grafana

**What happened**:

Tried to deploy, Grafana deployment failed

**How to reproduce it** (as minimally and precisely as possible):

[code]

[2019-06-18 13:59] #2 closed, assigned to nobody

[2019-06-20 13:16] alexnuttinck commented on #6
Get the same bug, redeploying the stack don't solve the problem for me.
I can solve the problem by updating/upgrating values to the last version of the postgresql helm chart.

[2019-06-20 13:22] alexnuttinck commented on #6
merged in master. @banzo, reopen if you still encounter this bug.

[2019-06-20 13:22] #6 closed, assigned to nobody

[2019-06-25 13:38] alexnuttinck commented on #7
I think option 4 is the best option. Example with the elastick-stack: https://github.com/helm/charts/tree/master/stable/elastic-stack What do you think? Options to enable or disable components could be passed into the "values.json" file.

[2019-06-25 14:07] alexnuttinck commented on #7
I have created this branch: https://github.com/cetic/fadi/tree/feature/fadi-helm-chart to make some tests and create a first draft of the fadi Helm Chart.

[2019-06-26 08:08] alexnuttinck commented on #7
Ideas for the values.yaml of the future fadi Helm chart:

* each fadi component can be enabled/disabled into the values.json
* we can pass specific variables for components, see jupyterhub for instance.

I propose to use this centralized yaml file instead of using the current structure.

[code]

What do you think?

[2019-06-26 08:33] banzo commented on #7
I feel like having the config in separate folders/files for each service would be more modular (tm).
We could include (iiuc) files in the main yml file: https://github.com/helm/helm/blob/master/docs/charts_tips_and_tricks.md#using-the-tpl-function

[2019-07-01 08:44] alexnuttinck commented on #8
resolved by upgrading Grafana.

[2019-07-01 08:44] #8 closed, assigned to nobody

[2019-07-01 13:55] alexnuttinck commented on #7
The Helm Chart of FADI will have his own repo at: https://github.com/cetic/helm-fadi.

[2019-07-09 08:44] #7 closed, assigned to banzo, alexnuttinck

[2019-08-13 08:18] banzo opened #15 "IAM on Minio"
Minio provides several ways to manage user access management.

* https://docs.min.io/docs/minio-sts-quickstart-guide
* https://github.com/minio/minio/blob/master/docs/sts/wso2.md
* https://github.com/minio/minio/blob/master/docs/sts/opa.md

Some hope for ldap integration here: https://github.com/minio/minio/issues/7989

[2019-08-19 15:04] alexnuttinck opened #17 "Create a local version vs production"
**Is your feature request related to a problem? Please describe.**

Get a local version to be able to run the FADI stack locally and a production version. It uses currently too much resources for the local version.

**Describe the solution you'd like**

Get two different values.yaml files, one for minikube, one for production.

We could also pass a value minikube.yaml file which configure the ress

[2019-08-21 08:16] banzo opened #20 "Grafana is readonly"
**Describe the bug**: In a GCP kubernetes deployment of FADI, Grafana is readonly (cannot create dashboards, playlist, ...)
**Version of Helm and Kubernetes**: latest on GCP
**Which chart**: Grafana
**What happened**: log in as `admin`/`password1`, dashboard creation UI elements are missing
**What you expected to happen**: the dashboard creation UI elements to be present (along with the other admi

[2019-08-21 11:59] AyadiAmen commented on #20
@banzo
The bug has been fixed, can you review the last pull request ? thank you in advance

[2019-08-21 14:48] banzo opened #22 "IAM on Nifi"
Add IAM on the Nifi service

[2019-08-22 13:08] banzo commented on #20
Works fine on my local minikube now, thanks

[2019-08-22 13:08] #20 closed, assigned to AyadiAmen

[2019-08-23 08:23] banzo opened #24 "Use FADI DC for the LDAP config"
Currently we use `DC=ldap,DC=cetic,DC=be` as a sample, we may want to use `DC=fadi,DC=cetic,DC=be` instead.

[2019-08-27 12:26] fzalila opened #25 "Nifi template is not complete in the USERGUIDE"
**What happened**:
When experimenting the [USERGUIDE.md](../blob/master/USERGUIDE.md), the provided [nifi_template](../blob/master/examples/basic/nifi_template.xml) does not correspond to the provided [screenshot](../blob/master/examples/basic/images/nifi_csv_to_sql.png). In fact the `PutDatabaseRecord` process does not exit in the template.

**What you expected to happen**:
Load a compte Nifi tem

[2019-08-28 10:02] fzalila opened #26 "Failed to fetch Grafana Dashboard"
**What happened**:
I experiment the [USERGUIDE](../blob/master/USERGUIDE.md). In section [3. Display dashboards and configure alerts](../blob/master/USERGUIDE.md#3-display-dashboards-and-configure-alerts), I start by logging in Grafana. However, immediately after I logged in, an error message is shown **Failed to fetch dashboard Unauthorized**.
More details in this [video](../blob/user-guide-featu

[2019-08-29 13:42] AyadiAmen commented on #26
it's fixed

[2019-08-30 09:50] banzo commented on #26
Great, can you please give details on the how it was fixed/what the issue was?

Then we can close this issue.

[2019-09-02 09:05] alexnuttinck opened #27 "Add contributors section"
Add a contributors section in the Readme.md.

I have enabled the https://github.com/all-contributors/all-contributors bot for this repo.

[2019-09-02 09:08] alexnuttinck commented on #27
Let's have a try!

@all-contributors add @banzo for code and review.

[2019-09-02 11:05] alexnuttinck commented on #27
@all-contributors add @alexnuttinck for code, review and infra.

[2019-09-02 11:07] alexnuttinck commented on #27
@all-contributors add @AyadiAmen for code :)

[2019-09-02 11:08] alexnuttinck commented on #27
@all-contributors add @fzalila for code and tests.

[2019-09-02 11:38] alexnuttinck commented on #27
@all-contributors add @alexnuttinck for code, review and infra.

[2019-09-02 11:44] alexnuttinck commented on #27
@all-contributors add @alexnuttinck for code, review and infra.

[2019-09-02 11:49] alexnuttinck commented on #27
Need to restart the process due to some merge conflicts..

@all-contributors add @AyadiAmen for code.

[2019-09-02 11:50] alexnuttinck commented on #27
@all-contributors add @fzalila for code and tests.

[2019-09-02 11:51] alexnuttinck commented on #27
Ok, I close this issue.

[2019-09-02 11:51] #27 closed, assigned to alexnuttinck

[2019-09-02 16:02] banzo commented on #26
It works with the ip, but not with the `/etc/hosts` url.

Maybe we can fix that in the grafana config file (options `domain` and `root_url`?) or abandon the minikube host file trick.

[2019-09-02 16:03] banzo commented on #25
WIP in https://github.com/cetic/fadi/tree/user-guide-feature

[2019-09-04 07:41] alexnuttinck opened #36 "Automate databases definition in pgadmin"
**Is your feature request related to a problem? Please describe.**
We need to manually configure pgadmin.

**Describe the solution you'd like**
Automation of the databases configuration.

I add a way to enable the servers configuration in [helm-pgadmin]( https://github.com/cetic/helm-pgadmin ) via the values.yaml file. If enabled, server definitions found in `servers.config` will be loaded at laun

[2019-09-04 08:47] banzo opened #37 "Provide details on security aspects"
We need to provide some information on the security aspects of the framework: what security mechanisms are in place by default, guidelines on how to secure a FADI installation, ...

This should take the form of a [FAQ](FAQ.md) item, an update to the presentation slides and maybe a dedicated page.

[2019-09-05 08:11] banzo commented on #27
@all-contributors add @AyadiAmen for design.

[2019-09-05 11:42] banzo opened #40 "Provide slower videos in user guide"
Current videos are a bit too fast

[2019-09-05 14:29] banzo opened #42 "Set HttpInvoke schedule to 120s"
Update the user guide NiFi section to change the csv download frequency to something else than 0 (it puts a bit too much strain on minikube by flooding the DB).

[2019-09-05 15:23] banzo opened #43 "Provide ingress configuration details in the installation instructions"
See title

[2019-09-09 09:01] fzalila opened #45 "Postgresql secrets not found"
**What happened**:

When I try to do the user guide, the command `export POSTGRES_PASSWORD=$(kubectl get secret --namespace fadi fadi-postgresql -o jsonpath="{.data.postgresql-password}" | base64 --decode)` returns this error `Error from server (NotFound): secrets "fadi-postgresql" not found`.

Any idea how to resolve this issue?

[2019-09-09 09:09] AyadiAmen commented on #45
hi,
you don't need that command anymore, the default username and password for postgres are admin - password1 ( the user from the ldap server )

[2019-09-09 09:15] banzo commented on #27
@all-contributors add @FabianSteels  for ideas.

(until there is a role for the technical specs)

[2019-09-09 09:17] banzo commented on #27
@all-contributors add @smouton-cetic  for projectManagement.

[2019-09-09 09:19] banzo commented on #27
@all-contributors add @nikosmtsk  for projectManagement.

[2019-09-09 09:21] banzo commented on #27
@all-contributors add @Sellto  for doc.

[2019-09-09 10:40] #42 closed, assigned to fzalila

[2019-09-09 10:40] #25 closed, assigned to fzalila

[2019-09-09 11:14] banzo commented on #27
@all-contributors add @terence-bigtt for code.

[2019-09-09 13:05] fzalila commented on #45
Thanks @AyadiAmen. It works perfectly.

[2019-09-09 13:05] #45 closed, assigned to banzo, alexnuttinck, AyadiAmen

[2019-09-10 09:02] banzo opened #51 "IAM on PGadmin"
Add LDAP integration to PGAdmin

[2019-09-10 10:16] banzo opened #52 "Stack fails to start"
On OS X + Virtualbox and Manjaro  + KVM, the stack deployment fails since this morning.

[code]

Version info:

[code]

[2019-09-10 10:22] banzo commented on #52
Fixing the permissions as suggested in https://github.com/kubernetes/minikube/issues/3129 right after the minikube start seems to fixes some issues, but postgresql is still stuck

[2019-09-10 10:22] alexnuttinck commented on #52
I am facing the same issue.

[2019-09-10 11:33] banzo commented on #52
I spoke too soon, all services seem to be working using this workaround. @fzalila @SellamiRami

It would be nice if we can somehow specify it in a config file or include it in the deploy.sh script.

[2019-09-12 05:24] alexnuttinck commented on #27
@all-contributors add @Maher-badri for projectManagement.

[2019-09-12 08:19] banzo commented on #52
This morning it is working fine without the workaround on my laptop.

[2019-09-12 11:05] #52 closed, assigned to banzo, alexnuttinck

[2019-09-17 08:28] banzo opened #54 "MQTT integration"
The stack would benefit from mqtt support: ability to ingest data sent via mqtt protocol.

This means we would need to add an optional mqtt broker component in the architecture:

- [ ] Helm chart if needed
- [ ] add it to the FADI stack
- [ ] update the doc
- [ ] provide a usage example

[2019-09-17 08:35] terence-bigtt commented on #54
This should do the job:
https://github.com/smizy/charts/tree/master/mosquitto

[2019-09-17 09:29] banzo commented on #54
Yes, it might be a good starting point, we may want to check it is up to date.

[2019-09-18 06:42] banzo opened #55 "Windows support"
Check and update the (Minikube) installation instructions for windows support:

* `deploy.sh` adaptations (seems there is a Windows vs Linux file encoding issue)
* can/should  the WSL be used? If yes, how?

[2019-09-18 07:08] banzo commented on #27
@all-contributors add @mgoeminne for ideas.

[2019-09-18 07:14] banzo commented on #27
@all-contributors add @SellamiRami for review

[2019-09-18 13:49] banzo commented on #55
`./deploy.sh` needs to be `deploy.sh`

* Make the script less strict regarding errors when running on Windows:
[code]

* make sure `deploy.sh` has the right line break format (DOS vs UNIX), see https://sourceforge.net/projects/dos2unix/

[2019-09-19 08:35] banzo commented on #55
The following feature branch will incorporate those adaptations: https://github.com/cetic/fadi/tree/feature/installguide

[2019-09-19 12:37] fzalila opened #59 "More easier install of fadi stack"
The following bloc allows to install and configure the fadi cluster.

[code]

To make the install of fadi more easier, is it possible to integrate the different commands (kubectl config...) inside the deploy.sh script?

[2019-09-19 12:44] alexnuttinck commented on #59
@fzalila These commands:

[code]

are related to `minikube`.

If you add these commands to the `deploy.sh` file, you won't be able to use it in other contexts than minikube.

[2019-09-19 12:44] fzalila opened #60 "Launch Jupyter"
When we launch the Jupyter service using ```bash minikube service -n fadi proxy-public```, two tabs with two ip adresses are created in the browser: one is responsive and the second one is non-responsive.

Is it correct as behavior?

[2019-09-19 12:48] fzalila opened #61 "Jupyter service name"
To launch the Jupyter service, we do ```bash minikube service -n fadi proxy-public``` .

 ```proxy-public``` is it the appropriate name of this service?

[2019-09-19 12:50] fzalila commented on #60
In addition, when we do in the Terminal ```minikube service -n fadi proxy-public```, the table shows two URLs.
It is expected to obtain 1 or 2 URLs.

Best,

Faiez

[2019-09-19 12:53] fzalila opened #62 "pg-ldap-sync pods always no stable"
The pg-ldap-sync pods are always difficult to be stable when we deploy fadi (even after changing the cron job).
[code]

[2019-09-19 13:05] fzalila opened #63 "Cron job is it the appropriate solution"
To deal with the multiple pg-ldap-sync pods created simultaneously, an alternative solution is to change the cron job for example to 20 minutes. Good solution!

However, imagine that the last cron was triggered at a given time ```t```.

Just after, at ```x+ε``` time, a new user is created in the openldap service.
So, he/she will need to wait around 20 minutes to be able to access to the postgresql

[2019-09-23 08:18] fzalila commented on #59
Thanks @alexnuttinck !

[2019-09-23 08:18] #59 closed, assigned to nobody

[2019-10-02 08:04] AyadiAmen commented on #62
The error is only produced at first when either openldap or Postgresql isn't running yet.

[2019-10-02 08:05] #62 closed, assigned to AyadiAmen

[2019-10-09 13:18] banzo opened #71 "Service enabling override is not taken into account"
**Describe the bug**

Modifications to the `values.yml` file in this repo are not taken into account

**Environment**:

* latest Arch and OSX
* latest Minikube
* latest kvm/Virtualbox

**What happened**:

Tired to disable unused services (`enabled:false`) such as Spark, but the whole Spark cluster was still started by `deploy.sh`.

**What you expected to happen**:

disabled services in this repo's

[2019-10-09 15:29] banzo opened #72 "Remove traefik from install script"
traefik is not used in minikube, move that part in the standalone/cloud K8S cluster install doc

[2019-10-10 09:03] banzo commented on #55
There is a new problem introduced with Kubernetes 1.16: https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

A workaround for installing Tiller can be found here: https://github.com/helm/helm/issues/6374 (corresponding PR: https://github.com/helm/helm/pull/6462), this should be fixed in next helm release (2.15) but the windows client is not yet available for this release, would need to

[2019-10-14 08:08] banzo commented on #17
Instead of maintaining 2 files, maybe we can use tags in the values.yml file

[2019-10-14 08:13] banzo opened #73 "Handle sensors disconnect"
**Is your feature request related to a problem? Please describe.**

Sometimes, sensors get disconnected or just stop working.

**Describe the solution you'd like**

FADI should provide a way to detect such situations and react to it  accordingly.

**Describe alternatives you've considered**

* monitoring: twin devices pattern (heartbeat or cron check based on expected data reception frequency)
* a

[2019-10-14 08:21] banzo opened #74 "Data Catalog"
**Is your feature request related to a problem? Please describe.**

* data exchange format changes over time
* various formats to describe the data (xls, doc, XML schema DTD, json schema, ...)

**Describe the solution you'd like**

The aims of a Data Catalog is focused on the metadata management. The Data Catalog tools centralize metadata in one location helping to make data sources more discovera

[2019-10-15 12:44] alexnuttinck commented on #61
Service names are hardcoded. There is an open pull request to fix that: https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/1209. It is currently not merged.

[2019-10-15 12:46] banzo commented on #26
We do not use /etc/hosts on local minikube anymore

[2019-10-15 12:46] #26 closed, assigned to fzalila

[2019-10-15 12:50] alexnuttinck commented on #5
We need to make a test with the modifications made in this PR: https://github.com/cetic/helm-pgadmin/pull/11

[2019-10-16 08:29] banzo opened #76 "Add message broker component"
**Is your feature request related to a problem? Please describe.**

The toolbox needs tools to facilitate streaming ingestion and processing.
This is currently handled by Apache Nifi, a more complete message queuing solution is needed.

**Describe the solution you'd like**

Add the Kafka message broker to the stack, document setup and usage instructions.

**Describe alternatives you've considered*

[2019-10-16 08:30] banzo commented on #76
https://github.com/cetic/helm-fadi/pull/14

[2019-10-16 08:39] banzo opened #77 "Management of application logs"
**Is your feature request related to a problem? Please describe.**

Easily monitor and consult the application logs (errors, warnings, debug), to audit / trace the actions of the users a posteriori (for example in case of audit).
The goal is to set up a tool for log management to centralize logs of the FADI components and other system components.

**Describe the solution you'd like**

* add Elasti

[2019-10-16 08:40] banzo commented on #77
Needs LDAP integration before we can close this.

[2019-10-23 15:09] alexnuttinck opened #78 "Add Documentation on TSimulus"
**Is your feature request related to a problem? Please describe.**
Describe the use of TSimulus in FADI.

**Describe the solution you'd like**
A new section in the userguide that explains how to enable TSimulus in FADI and how to use it.
See https://github.com/cetic/helm-fadi/issues/13

[2019-10-28 08:33] alexnuttinck commented on #5
SSL seems to not resolve the problem after a test made on GKE.
There is a `404 page not found` when I am redirected on /login?next=%2F.

[2019-10-28 08:36] alexnuttinck opened #80 "Add Documentation on SSL"
**Is your feature request related to a problem? Please describe.**
Describe how to enable SSL for FADI.

**Describe the solution you'd like**
A new section in the userguide that explains how to enable SSL in FADI:
* with https://traefik.io/
* and https://github.com/jetstack/cert-manager

[2019-10-29 09:46] sroussea opened #81 "None service accessible after a FADI installation on a generic kubernetes cluster"
Hello,

First, we have tried to install the Fadi Framework on a generic kubernetes cluster from scratch by following the installation procedure.
[https://github.com/cetic/fadi/blob/master/INSTALL.md]
We were face to an issue due to the default storageClass that were not automaticaly configure during the installation.
Amen, a guy from the cetic, had taken the hand remotely and fix the issue, thanks

[2019-10-30 15:19] AyadiAmen commented on #81
i tried to access the services by forwarding their ports and I got access to pgadmin, grafana, superset, jupyterhub and phpLDAPadmin but there was an error with nifi.

to **forward** a port:

[code]

to get the **\<pod-port>** (the port in which runs the service):

[code]

after forwarding the port you can open your browser you go to localhost:\<localhost-port> .

with Nifi I got this error:

[cod

[2019-10-30 15:31] alexnuttinck commented on #81
@AyadiAmen it is the `fadi-nifi` service you need to forward, not the `fadi-nifi-headless`.

[2019-10-30 15:38] alexnuttinck commented on #22
Now, that we can deploy fadi with ssl, we need to connect nifi to openldap.

[2019-10-30 15:42] AyadiAmen commented on #81
@alexnuttinck I used the pod-name `fadi-nifi-0` to forward the port for the service `fadi-nifi` .

[2019-10-30 15:42] alexnuttinck commented on #72
+ add Documentation on how to use a Ingress Controller like Traefik with Fadi. It should be coupled with the ssl doc.

[2019-10-30 15:47] alexnuttinck commented on #81
@AyadiAmen, could you try to port-forward from the svc?
https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/#forward-a-local-port-to-a-port-on-the-pod

[2019-10-30 15:50] alexnuttinck commented on #81
the service `fadi-nifi` is on port 80, not 8080.

[2019-10-30 15:56] AyadiAmen commented on #81
I tried with this:

[code]

and I still get the same error.

[2019-10-30 16:12] alexnuttinck commented on #71
Hello @banzo,

Do you still have this problem?

I can't reproduce your bug on my environment. (fedora 30, minikube 1.0.0, virtualbox 6.0).

Be careful to add a space when you disable, enable component of fadi.

* won't work: `enabled:false`
* will work: `enable: false`

[2019-10-30 16:20] alexnuttinck commented on #63
For me, I suggest to let the default behaviour: the pg-ldap-sync is triggered every 1 minute.

At this time, I don't find a better alternative. If you have suggestions, do not hesitate.

[2019-10-31 12:38] AyadiAmen commented on #81
Since nifi is a NodePort service you can access it by requesting \<NodeIP>:\<NodePort>
I tested this with nifi and all the other services of type NodePort and they all work, i had access to Nifi, Grafana, Superset, phpLDAPadmin, pgadmin and Minio with the method mentioned above, and JupyterHub by forwarding the port since it's of type ClusterIP.

You have all the mentioned services running on your

[2019-10-31 12:43] banzo commented on #71
That was the issue, thanks

[2019-10-31 12:43] #71 closed, assigned to banzo

[2019-11-12 09:05] #81 closed, assigned to AyadiAmen

[2019-11-20 12:25] thierrypirnay opened #82 "Postgresql databases not persistent"
**Describe the bug**
When stopping and restarting Minikube, all the Databases and tables created with pgAdmin disappears.

**Environment**:

* **OS** Microsoft Windows 10 Pro 10.0.17763 Build 17763
* **VM driver** Virtualbox
* **Minikube version** v1.5.2
* **Kubernetes version** v1.15.4

**What happened**:
When stopping then restarting Minikube, all the Databases and Tables created with pgAdmin di

[2019-12-06 08:48] alexnuttinck opened #84 "Make the doc and the bash script compatible with helm v3"

[2019-12-13 12:24] alexnuttinck commented on #77
@AyadiAmen @banzo Can we close this issue?

[2019-12-13 12:25] alexnuttinck commented on #76
@Sellto  @banzo Can we close this issue?

[2019-12-13 12:29] alexnuttinck commented on #72
#85 describes how to setup Traefik

I need to remove the traefik part from the install.sh script.

[2019-12-13 12:32] alexnuttinck commented on #55
@banzo Is this problem still occur? Maybe we could create a new issue for your last comment? I don't think this problemn is only related to Windows?

[2019-12-13 12:46] AyadiAmen commented on #77
@alexnuttinck The ldap integration is done but it's not documented yet, so we will close it when the documentation is finished

[2019-12-20 15:21] banzo commented on #76
see https://github.com/cetic/fadi/tree/master/examples/kafka

[2019-12-20 15:21] #76 closed, assigned to Sellto

[2019-12-20 15:39] banzo opened #89 "Provide a web database client for multiple database engines"
We currently rely on PGAdmin, but may want to use something else than postgresql as the datalake/warehouse.

e.g. https://www.adminer.org/ supports MySQL, MariaDB, PostgreSQL, SQLite, MS SQL, Oracle, SimpleDB, Elasticsearch, MongoDB

[2019-12-20 15:40] banzo commented on #51
We have plans to replace PGAdmin #89

[2019-12-20 15:40] #51 closed, assigned to nobody

[2019-12-20 16:17] #43 closed, assigned to alexnuttinck

[2019-12-20 16:18] banzo commented on #5
see #89

[2019-12-20 16:18] #5 closed, assigned to alexnuttinck

[2019-12-20 16:20] #78 closed, assigned to alexnuttinck

[2020-01-06 13:49] alexnuttinck commented on #89
Addded in [v0.1.17](https://github.com/cetic/helm-fadi/releases/tag/0.1.17).

[2020-01-08 13:03] mgoeminne opened #90 "Add support for MLFlow"
In order to improve the usability of FADI when deployed for Machine Learning / Data Science projects, a support for [MLFlow](https://mlflow.org/) should be added.

MLFlow is a relatively recent, open source project from Databricks for storing and managing metrics that relate to ML models. Due to its loose coupling, this tool can be used with a large set of ML libraries.

From the user's point of v

[2020-01-08 13:12] mgoeminne opened #91 "Add support for Seldon"
In order to improve the usability of FADI when deployed for Machine Learning / Data Science projects, a support for [Seldon](https://www.seldon.io/tech/products/core/) should be added.

Seldon is an open source project for packaging machine learning models and scoring them. It hides such models behind a REST API, and build Docker containers for deploying them.

From the user's point of view, Seldo

[2020-01-08 13:14] mgoeminne commented on #91
@Maher-badri

[2020-01-08 13:14] mgoeminne commented on #90
@Maher-badri

[2020-01-09 14:58] banzo commented on #89
neat!

Now we need to update the doc (install, userguide, slides) to deprecate pgadmin

[2020-01-09 15:14] alexnuttinck opened #92 "Add Documentation about Adminer, and deprecate pgAdmin"
**Is your feature request related to a problem? Please describe.**

Adminer has been added to the FADI stack (See Issue #89). (https://www.adminer.org/ supports MySQL, MariaDB, PostgreSQL, SQLite, MS SQL, Oracle, SimpleDB, Elasticsearch, MongoDB)
Now we need to update the doc (install, userguide, slides) to deprecate pgadmin.

#### Checklist

- [x] Update the install script (update helm-fadi), and

[2020-01-09 15:18] alexnuttinck commented on #89
@banzo I created a new issue for that.

[2020-01-09 15:18] #89 closed, assigned to nobody

[2020-01-09 15:18] alexnuttinck commented on #89
See #92

[2020-01-14 19:03] mgoeminne opened #93 "Add support for custom environment with Jupyter"
**Is your feature request related to a problem? Please describe.**

No, it's a suggestion for improving the functional coverage of FADI.

**Describe the solution you'd like**

A data scientist can use Jupyter Hub for iteratively explore data sets and provide technical solutions to various problems.

In order to do so, she frequently has to change the Jupyter environment of her notebooks in order t

[2020-01-21 10:15] SellamiRami opened #94 "Enhancing the configuration of the time range in the user guide to explore data using Superset"
**Is your feature request related to a problem? Please describe.**

By following the user guide to explore data using Superset, I can't display the chart.  After investigation, I find the solution which consists in customizing the time range from 2019-06-23 16:00:00 to 2019-06-28 16:00:00 (instead of choosing the default option last quarter).

**Describe the solution you'd like**
To fix this limit

[2020-01-29 10:20] alexnuttinck opened #96 "FADI seems not to be deployable on a Kubernetes > 1.16"
We need to check that FADI is deployable on Kubernetes with a version more than 1.16.

And correct the charts impacted by that.

[2020-01-29 10:25] alexnuttinck commented on #96
@fzalila maybe can you make a test when you resolve issue #84 ?

[2020-01-29 15:13] AyadiAmen commented on #84
for now all the services in FADI work with helm 3 except for **minio**, **Kafka**, **logstash**, **filebeat** and **tsaas**. if any of the mentioned services is enabled you will get this error:

[code]

if all the mentioned services are not enabled FADI can run with no problem using the following commands:

 **to install:**
[code]
**to delete:**
[code]
**to upgrade:**
[code]
**PS: the service open

[2020-01-29 15:37] alexnuttinck commented on #84
@AyadiAmen @fzalila We need to upgrade the Chart versions that we use in FADI (requirments.yaml in helm-fadi) -> for instance, we are now to the 5.* release of minio which correct the error for helm 3.

[2020-01-29 15:40] alexnuttinck commented on #84
Same for tsaas, -> the API of the statefulset must be "apps/v1" and not "apps/v1beta2".

[2020-01-30 10:33] alexnuttinck commented on #36
Pgadmin will be deprecated soon and replaced by adminer, so I close this issue.

[2020-01-30 10:33] #36 closed, assigned to nobody

[2020-01-30 10:55] alexnuttinck commented on #92
pgadmin is now removed from helm-fadi (chart 0.1.19).

[2020-01-30 11:02] alexnuttinck commented on #15
@banzo , @AyadiAmen It seems to be implemented now.

[2020-01-30 11:05] alexnuttinck commented on #15
https://github.com/minio/minio/blob/master/docs/sts/ldap.md :+1:

[2020-01-30 15:53] alexnuttinck commented on #92
[pgadmin repo](https://github.com/cetic/helm-pgadmin/) is now archived.

[2020-01-30 16:46] alexnuttinck commented on #92
I made a PR #97 where I updated the userguide.

[2020-01-31 08:41] alexnuttinck commented on #84
@AyadiAmen has corrected bugs related to helm v3 in this PR https://github.com/cetic/helm-fadi/pull/22

[2020-01-31 08:43] alexnuttinck commented on #96
@AyadiAmen has made a test with kubernetes 1.17 on minikube and it works fine. This PR cetic/helm-fadi#22 corrects some issues. (APIs version, ...)

[2020-01-31 14:30] alexnuttinck commented on #72
Done in https://github.com/cetic/fadi/commit/de3c4f380a017a37992817e10c759bf810045064.

[2020-01-31 14:30] #72 closed, assigned to alexnuttinck

[2020-01-31 16:05] alexnuttinck commented on #93
Hello @mgoeminne,

Thanks for your feature request!

Do you think that [BinderHub](https://binderhub.readthedocs.io/en/latest/) could meet your needs?

See the diagram of the BinderHub architecture: https://binderhub.readthedocs.io/en/latest/overview.html#a-diagram-of-the-binderhub-architecture

BinderHub seems to allow a user to create automatically a Jupyter Notebook based on a git repository. B

[2020-02-05 11:20] Sellto opened #98 "JupyterHub seems not to be deployable on a Kubernetes > 1.15"
I try to deploy FADI on cluster under the 1.16 version of Kubernetes. I stuck on issue...

## Issue
I can see the webpage of JupyterHub and i can connect to them with the default OpenLdap User/Password. But when i would like to choose a notebook, I come across this error :

 <img width="1352" alt="error" src="https://user-images.githubusercontent.com/17011743/73835305-769d0c80-480d-11ea-9901-990bf

[2020-02-05 20:24] fzalila commented on #96
@alexnuttinck @AyadiAmen @banzo
I deployed FADI (`master` branch) with minikube using the following versions and different services work perfectly 👌🏼.

Minikube:
`minikube version: v1.6.2
commit: 54f28ac5d3a815d1196cd5d57d707439ee4bb392`

Helm:
`Client: &version.Version{SemVer:"v2.16.1", GitCommit:"bbdfe5e7803a12bbdf97e94cd847859890cf4050", GitTreeState:"clean"}`

Kubernetes:
`Client Version: vers

[2020-02-06 08:28] alexnuttinck commented on #96
@fzalila ok, great. I think we can close this issue now.

Thank you all.

[2020-02-06 09:05] alexnuttinck commented on #84
Done, merged in master.

[2020-02-06 13:25] mgoeminne commented on #93
@alexnuttinck Thank you for your reactivity.I never used BinderHub, but it looks promizing.

However, I fear having to manage the specifications/requirements on Git repository limits the user experience, since she has to manage this repo. On the other hand, managing requirements by using a Git repository is pretty interesting, from the evolution/deployment management point of view.

BinderHub seem

[2020-02-06 16:28] Sellto commented on #90
Back on the integration of MLFlow in FADI.

Tests were carried out with an existing [helm chart from MLFlow](https://github.com/3loc/charts), but this did not offer certain essential configurations for its integration into FADI. We have improved this chart to meet our requirements. (It is now available in the [CETIC helm repository](https://github.com/cetic/helm-mlflow)).

The use case that we dep

[2020-02-11 09:01] banzo commented on #90
We could rely on the git/S3 credentials for this I guess.

After discussion with @mgoeminne, I would say that it makes sense, the need is confirmed. Next steps would be to integrate the chart (default: false) in the fadi chart and provide a userguide.

I am thinking we might want to adopt some kind of "incubator" approach where we have several tiers of support for FADI services.

I'd say both shou

[2020-02-11 09:06] banzo commented on #92
@fzalila do the test/use cases need to be adapted accordingly?

[2020-02-11 09:37] fzalila commented on #92
@banzo
For test cases [here](https://github.com/cetic/fadi/blob/feature/testsDOC/tests/doc/Cockburns-specification.md), some test cases should be updated (TC-5, TC-6, TC-7 and TC-8).
For implemented tests, the pgadmin test is not so advanced. So removing it and replacing it with Adminer tests should be easy to do.

[2020-02-11 13:26] banzo opened #100 "Add support for Tensorflow"
see WIP in https://github.com/cetic/helm-fadi/pull/23

GPU support is needed.

[2020-02-13 10:15] banzo opened #101 "Add example use case image in the carousel"

[2020-02-13 10:24] banzo opened #102 "Detailed documentation on Kubernetes installation and operation (Rancher)"
We currently document installation using kubeadm/spray, minikube, GCP.

[Rancher](https://rancher.com/) provides a solution for operations and maintenance: it offers a management interface to orchestrate, update, install, ... several Kubernetes clusters and integrates with most infrastructure managers (GCP, Proxmox, ...).

The proof of concert Rancher/Proxmox (WIP) is currently documented in a [de

[2020-02-13 10:56] Sellto commented on #96
JupyterHub Chart not compatible with K8S 1.16 and 1.17 (issue https://github.com/cetic/fadi/issues/98)
This issue is reproductible in minikube...

[2020-02-18 16:30] AyadiAmen commented on #77
Once this PR https://github.com/cetic/fadi/pull/103 is approved, you can close this issue

[2020-02-19 12:53] #77 closed, assigned to AyadiAmen

[2020-02-20 07:32] mgoeminne commented on #93
As I understand it, this feature is practically mandatory for using [Seldon](https://www.seldon.io/) without having admin access to the Kubernetes cluster.

[2020-02-21 14:47] alexnuttinck commented on #92
Ok. I think we can close this issue now.

[2020-02-21 14:47] #92 closed, assigned to nobody

[2020-02-24 08:59] fzalila opened #105 "Nifi template of the userguide shows an error"
**Describe the bug**
The Apache Nifi template of the userguide shows an error in the PutDatabaseRecord processor
**org.apache.nifi.serialization.record.util.IllegalTypeConversionException: Cannot convert CHOICE, type must be explicit**

* **Apache Nifi** > 1.9.2

Please refer to this bug https://community.cloudera.com/t5/Support-Questions/Cannot-convert-CHOICE-type-must-be-explicit/m-p/290187#M214

[2020-02-24 09:03] fzalila opened #106 "Tests on Apache Nifi fail"
**Describe the bug**
Recently, tests on Apache Nifi fail

**Environment**:

* **Apache Nifi ** = 1.11.2

**What happened**: Some selectors such as `.slickgrid-nfel-editor` and `.nfel-editor` are not found.

[2020-02-28 13:23] banzo commented on #93
@AyadiAmen

[2020-02-28 14:51] AyadiAmen commented on #93
I think it's possible to use the jupyter docker image [jupyter/repo2docker](https://hub.docker.com/r/jupyter/repo2docker) with the current jupyterhub in fadi because repo2docker is the tool used by BinderHub to build images on demand.

jupyter-repo2docker is a tool to build, run, and push Docker images from source code repositories.

repo2docker fetches a repository (from GitHub, GitLab, Zenodo, F

[2020-02-29 14:17] mgoeminne commented on #82
As discussed by e-mail, @AyadiAmen proposed a solution consisting in mounting hostPath persistent volumes.

https://serverfault.com/questions/979901/minikube-files-do-not-persist-after-restart/979957

https://minikube.sigs.k8s.io/docs/reference/persistent_volumes/

Internal bug ticket #26399

[2020-03-05 09:29] leprincev opened #108 "FADI user guide update"
**FADI User guide update**

1. PutDatabaseRecord processor

In the FADI User Guide, in the chapter 3 Nifi "measurement ingestion" I suggest to make a reference to the arrow when mentioning the first "Go To" int the "PutDatabaseRecord processor" section.
![image](https://user-images.githubusercontent.com/61823957/75964414-79038c80-5ec7-11ea-9b90-5acc230152a9.png)

For example by inserting a line or

[2020-03-06 08:13] seblinux-enod opened #109 "Node-red and directory access"
how can i read a file in node-red to make a data injest ? I mean, is there a share folder where node-red can acces it ? Or I must make  the data injest in an other way like a query to a database to inject them into the postgres ? (1.7 GB of data)

[2020-03-06 08:15] seblinux-enod commented on #109
I found a the node call "file-upload" i will try this first...

[2020-03-06 08:15] #109 closed, assigned to nobody

[2020-03-09 10:07] fzalila commented on #108
@leprincev
Thank you for your feedback.
I suggest that you improve the userguide with your remarks and do then a PR to integrate them in the FADI repository.

Best,

Faiez.

[2020-03-10 15:21] Sellto commented on #90
MLFlow is now available in FADI.

We are working on a practical usecase that use MLFlow, the result will be a documentation that the FADI users will can use to properly use this new ML tools.

[2020-03-17 20:09] Sellto commented on #17
In the spirit of defining a minimal FADI version, I think it would be appropriate to reduce the skills necessary to be able to use and test FADI. For example, Data persistence and/or the use of a loadbalancer are features that require a mastery of kubernetes rather than the tools offered in FADI.

I therefore propose that by default the persistence of data be deactivated and that the services be o

[2020-03-19 14:31] banzo commented on #55
@Empyrion42 feel free to leave some feedback here

[2020-03-26 11:02] AyadiAmen commented on #22
In order to create a secure NiFi cluster, we need a keystore and truststore and a client certificate that we can load in our browser to access the UI.

NIFI comes with **The Apache NiFi Toolkit** which is an additional artifact produced when building NiFi, and it is used to generate the keystore and truststore as well as a client cert for our browser, the toolkit path inside the pod is `/opt/nifi/

[2020-03-27 12:57] fzalila opened #116 "Some comments about feature tests"
Some comments:

1. `__tests__`:
    1. some helpers defined in the test scripts do not seem to be used (ex `loadUrl`, `waitForText`, ...), are they necessary?
    2. nt4s url needs to be removed, this should preferably be a config variable somewhere (lib/config.js `baseUrl`?), you can use http://test.fadi.cetic.be as a placeholder.
    3. if possible, use the test case identifier in the filename i

[2020-03-30 16:10] fzalila commented on #116
@banzo
For 1.i the identified helpers can be used in other tests. So they are necessary.
d2b241ecf6d2c8db27f58f3496c7de292cc2bcf8 and 4586b93198f6ca224c7da312f1f8846a5f5feafa resolve 1.ii and 2.
For 1.iii, yes it is possible but after resolving 3., 4. and 5.

@SellamiRami
can you please resolve 3., 4. and 5. issues.

[2020-03-31 13:28] #105 closed, assigned to fzalila

[2020-03-31 15:24] alexnuttinck commented on #22
https://github.com/cetic/helm-nifi/issues/45 will now be used to follow this issue.

[2020-04-01 07:33] seblinux-enod opened #118 "Node-red LDAP support"
It is possible to implement passport ldap auth for node-red ?
Like this it will full integrated to fadi ?

[2020-04-01 07:41] seblinux-enod opened #119 "jupyter not persistant storage"
When I restart minikube, i lose all my work in jupyter.
It is a bug in the installation or it is a feature to configure ?

local installation of FADI in centos 8, minikube and kubernetes 1.15

 Br

[2020-04-03 13:52] alexnuttinck commented on #84
I face the issue explained by @AyadiAmen today, so I reopen this issue. I face another with grafana also after an upgrade with helm.

[2020-04-16 07:11] alexnuttinck commented on #98
JupyterHub v0.9 is here: https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/master/CHANGELOG.md#090---2020-04-15

[2020-05-20 16:26] fzalila opened #121 "Tsaas server installed with FADI not found"
**Describe the bug**
Create a **Stream** with tsaas and swagger-ui fails.

**Environment**:
Provide the environment in which the bug has happened (minikube on a workstation, full fledged Kubernetes cluster, ...)

* **OS** Mac OS 10.15.3
* **VM driver** virtualbox
* **Minikube version** 1.6.2

**What happened**:
Launching tsaas and swagger-ui with FADI creates a server named  http://api-tsimulus.fa

[2020-05-27 10:16] banzo commented on #90
Reopening this until we have some basic doc and ideally a full example.

[2020-05-27 10:20] banzo commented on #91
Ideally we would want an example documentation like we have for BinderHub with a concrete use case and shiny screenshots, maybe we can combine both in an integrated example (also MLFlow?).

[2020-06-02 13:01] SellamiRami commented on #116
@banzo I resolved the issues number 3, 4 and 5.
In addition, I added the cockburn [TC-6](https://github.com/cetic/fadi/blob/feature/tests/tests/doc/cockburns/TC-6.md) and the test script [TS-6](https://github.com/cetic/fadi/blob/feature/tests/tests/doc/test-scripts/TS-6.md) in order to consider the creation of a table using Adminer.
I think that everything is OK now.
Rami.

[2020-06-09 13:54] alexnuttinck opened #124 "Deadline deprecated stable / incubator repos."
**Is your feature request related to a problem? Please describe.**

Incubator & Stable repos from Helm will be soon deprecated.
See https://github.com/helm/charts#deprecation-timeline for the details.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

* Update Fadi dependencies in helm-fadi repo.
* Update the install doc accordingly.

[2020-06-09 13:56] alexnuttinck commented on #82
@thierrypirnay @mgoeminne
Persitence of postgresql helm chart is now corrected in [v0.2.2](https://github.com/cetic/helm-fadi/releases/tag/0.2.2).

I close this issue.

[2020-06-09 13:56] #82 closed, assigned to nobody

[2020-06-09 13:59] alexnuttinck commented on #84
Ok, it was due to the update from helm v2 to v3.
See https://github.com/helm/charts/pull/17806#issuecomment-589699143

[2020-06-09 13:59] #84 closed, assigned to alexnuttinck

[2020-06-15 16:44] fzalila opened #125 "Check the upload button in the Nifi test"
The following `todo` should be resolved to check whether the upload button in the Nifi dashboard is enabled when a Nifi template is loaded.
https://github.com/cetic/fadi/blob/4e54882d598b994f9bc8346c16b803b03f7a57b1/tests/__tests__/2-nifi.test.js#L74

[2020-06-15 16:54] fzalila opened #126 "Choose a specific Nifi template to instantiate"
Currently, the Nifi test chooses a default template to instantiate.

The Nifi test should choose a specific one to instantiate (as explained in the `todo` clause).

https://github.com/cetic/fadi/blob/4e54882d598b994f9bc8346c16b803b03f7a57b1/tests/__tests__/2-nifi.test.js#L126

[2020-06-16 09:23] alexnuttinck commented on #93
https://github.com/cetic/fadi/tree/develop/examples/binderhub doc is available on binderhub on the develop branch, it will be merged soon. Binderhub will remain nevertheless as a "beta" feature.

[2020-06-16 09:27] alexnuttinck commented on #60
Yes, it is the excepted behaviour. The jupyterhub helm chart is designed like that. Rename the service name should be great, but the option is not proposed by the chart. See https://github.com/jupyterhub/zero-to-jupyterhub-k8s for more infos.

[2020-06-16 09:27] #60 closed, assigned to banzo, alexnuttinck

[2020-06-16 09:29] alexnuttinck commented on #63
I close this issue, if there are suggestions, do not hesitate to reopen this issue.

[2020-06-16 09:29] #63 closed, assigned to nobody

[2020-06-16 09:31] alexnuttinck commented on #54
@banzo, there are a MQTT consumer and producer in nifi. So, is it really needed?

[2020-06-16 09:48] Sellto commented on #54
@alexnuttinck
I guess the point is like Kafka.
Nifi offers the possibilities of implementing a consumer or producer for Kafka.
But Kafka is available in the FADI framework.

So I think, this issues is rather a proposed integration of a MQTT broker in fadi (like mosquitto or emqx)

[2020-06-16 09:51] Sellto commented on #54
emqx : scalable MQTT Broker with a lot of plugin ... [there is a emqx helm chart](https://github.com/emqx/emqx-rel/tree/master/deploy/charts/emqx)

[2020-06-16 09:52] alexnuttinck commented on #54
@Sellto Sure, my bad.

[2020-06-16 09:55] alexnuttinck commented on #61
I think that if we want this feature, we will need to make a PR on the JupyterHub Helm Chart.

[2020-06-16 09:59] alexnuttinck commented on #121
You need to enable the ingress plugin and to add this URL in your /etc/hosts with the minikube ip if you want this to work.
But default values from the helm-fadi chart should be updated as we do not setup ingress configs by default.

[2020-06-17 16:34] banzo opened #127 "Add release notes"
To provide a better view of the new features, bugfixes, ... released with each iteration, release notes should be made available.

We can follow those guidelines: https://keepachangelog.com/en/1.0.0/
Ideally, automate the release process with
* https://github.com/marketplace/actions/git-release
* https://github.com/marketplace/actions/release-drafter

[2020-06-22 07:32] alexnuttinck opened #128 "PVC randomly stuck in state Pending"
**Describe the bug**

When I install fadi in minikube, some pvc are stuck in pending state, and these containers are not created.

**Environment**:

Minikube:
[code]

Kubectl:
[code]

**Anything else we need to know**:

Seems to be related to the version of minikube, and the storage-provisioner plugin.
Issues related to our problem:
* https://github.com/kubernetes/minikube/issues/7828
* https://gi

[2020-06-24 09:28] alexnuttinck commented on #98
Resolved by the new [helm-fadi release: 0.2.4](https://github.com/cetic/helm-fadi/releases/tag/0.2.4).
I close this issue.

[2020-06-24 09:28] #98 closed, assigned to banzo, Sellto, alexnuttinck, AyadiAmen

[2020-06-24 09:28] alexnuttinck commented on #96
Resolved by the new [helm-fadi release: 0.2.4](https://github.com/cetic/helm-fadi/releases/tag/0.2.4).
I close this issue.

[2020-06-24 09:28] #96 closed, assigned to Sellto, alexnuttinck, AyadiAmen

[2020-06-24 09:31] alexnuttinck commented on #119
Resolved by the new [helm-fadi release: 0.2.4](https://github.com/cetic/helm-fadi/releases/tag/0.2.4).
I close this issue.

[2020-06-24 09:31] #119 closed, assigned to alexnuttinck, AyadiAmen

[2020-07-02 10:47] mtskn opened #129 "FADI installation support request from SSSA"
Hello
Researchers from SSSA have this error when installing FADI to their machine. Please let me know if you need more information (e.g. logs from a certain service) or if you see any issues, if you can provide some possible reasons etc.

Thank you

Installed packages:

VirtualBox : 6.1.6
Minikube : 1.9.2
Helm : 3.2.0

Sys Spec:
DISTRIB_DESCRIPTION="Ubuntu 18.04.4 LTS"
Intel(R) Core(TM) i7-7500U C

[2020-07-02 13:46] alexnuttinck commented on #129
Seems to be the same bug as described here: #128
It seems also to be a bug related to the minikube storage plugin.

A quick fix is to disable persistence options on minikube. or downgrade minikube version.

[2020-10-07 13:04] banzo opened #131 "Local minikube installation - Kubernetes version error"
Using minikube latest, local install fails:

[code]

* minikube version: v1.13.1
* driver: kvm2
* helm: v3.0.2
* kubectl: v1.19.2

I tried with older kubernetes version:

Same issue with 1.16.15:

[code]

1.15.10 works:

[code]

[2021-02-11 10:54] #131 closed, assigned to nobody

[2021-02-26 14:14] alexnuttinck opened #132 "FADI Chart maintainers"
**Is your feature request related to a problem? Please describe.**
We need to check if every chart used by FADI has a maintainer, as I will soon be leaving the Cetic.

**Describe the solution you'd like**
We need at least one maintainer per chart.

Current maintainers:

helm-fadi: @alexnuttinck / @banzo / @AyadiAmen
helm-zabbix: @alexnuttinck / @AyadiAmen /@aeciopires (external)
helm-swagger-ui: @

[2021-02-26 14:35] fzalila commented on #132
@alexnuttinck
I can start by maintaining helm-adminer chart.

[2021-02-26 14:54] aeciopires commented on #132
Hi @alexnuttinck!

I will continue to keep the helm-zabbix chart.

[2021-02-26 15:08] alexnuttinck commented on #132
Hey @aeciopires, thank you very much! And thanks for your really good work on the helm-zabbix chart. :smile:.

@fzalila you are now a chart maintainer, congratulations :fireworks: !

[2021-03-01 12:21] AyadiAmen commented on #132
Hello @alexnuttinck,

I can maintain the nifi and Drupal ( obviously ) helm harts, I can also be a maintainer for the adminer chart alongside Faiez.

[2021-03-01 13:00] alexnuttinck commented on #132
Ok, thanks @AyadiAmen.

Also, @Sellto will have no time to maintain these chart as he doesn't work on FADI anymore.
So I propose, if you agree @AyadiAmen, that you maintain the swagger-ui chart instead of the adminer chart. It's quite the same, as it's only a UI.

[2021-03-01 13:31] SellamiRami commented on #132
Hello, @alexnuttinck, I can maintain the Swagger-ui Helm Chart. Added to that, you can consider me for Adminer whether you need two maintainers.

[2021-03-01 13:43] alexnuttinck commented on #132
Ok perfect @SellamiRami, Thanks!

It remains the mlflow chart, is it still used in FADI?

If yes, who maintains this chart?
If no, do we deprecate the chart?

[2021-03-01 16:15] alexnuttinck commented on #132
All, I gave you the admin/maintain rights on the different Helm chart repositories.

[2021-03-02 11:01] alexnuttinck commented on #132
We have decided to not deprecate the mlflow chart for the moment. I close this issue, thank you all!

[2021-03-02 11:01] #132 closed, assigned to fzalila, banzo, SellamiRami, Sellto, AyadiAmen

[2021-03-08 13:16] banzo commented on #124
@alexnuttinck I think this is done now, right?

[2021-03-08 13:55] alexnuttinck commented on #124
Yes it's done, I close this issue.

[2021-03-08 13:55] #124 closed, assigned to nobody

[2021-04-16 09:33] vvxxvvxx commented on #26
Hi @banzo , I met the same issue. How did fix that finally?

[2021-04-21 12:31] banzo commented on #26
We are not using minikube in that way anymore.

[2021-04-21 14:59] banzo commented on #108
* [ ] Some screenshots need to be updated, for example in https://github.com/cetic/fadi/blob/master/INSTALL.md#122-install-fadi-services-on-the-local-cluster (the fadi namespace selection is located in the top bar now).
* [ ] remove the helm architecture image, it is not up to date

[2021-05-03 09:32] banzo commented on #129
I can not reproduce the problem with recent versions of minikube, closing this.

[2021-05-03 09:32] #129 closed, assigned to nobody

[2021-05-03 09:32] banzo commented on #128
I can not reproduce the problem with recent versions of minikube, closing this.

[2021-05-03 09:32] #128 closed, assigned to nobody

[2021-05-04 16:04] #121 closed, assigned to fzalila, banzo, terence-bigtt, AyadiAmen

[2021-09-13 13:45] #102 closed, assigned to nobody

[2021-09-13 13:47] banzo commented on #100
We still need to enable and document GPU usage: https://github.com/cetic/helm-fadi/pull/23#issuecomment-584631619

[2021-09-28 08:53] AyadiAmen commented on #22
This issus is solved as nifi is connected to ldap now, i'm closing this issue.

[2021-09-28 08:53] #22 closed, assigned to AyadiAmen

[2021-11-15 09:59] banzo opened #139 "Update ingress documentation"
Update [the ingress documentation](doc/REVERSEPROXY.md) by adding details for each external facing service. In particular, ingress should be configured as clusterIP+ingress and not nodeport.

This should still work with the minikube setup described in [the user guide](USERGUIDE.md) (might require some updates to the guide).

[2022-01-06 13:16] banzo opened #145 "Documentation and example of basic load testing"
* scenario definition (anonymized test data, in a first iteration on NiFi single node minikube)
* implement K6 scripts
* show sample test results report (K6 + Grafana)

[2022-01-31 15:46] FabianSteels commented on #81
it seems that Nifi (v1.12.1) has a issue to forward ports. The only solution I found is to use traefik to reach Nifi. To use traefic, you need an IP. On local you have to use `minikube tunnel` and set up your /etc/hosts file, on premise a IP must be configured probably with MetalLB.

[2022-05-27 12:56] #145 closed, assigned to zakaria2905

[2022-05-27 13:41] #139 closed, assigned to zakaria2905

[2022-05-27 15:05] banzo commented on #127
this is done automatically when drafting the new release

[2022-05-27 15:05] #127 closed, assigned to banzo

[2022-05-27 15:07] banzo commented on #80
see [doc/SECURITY.md]

[2022-05-27 15:07] #80 closed, assigned to alexnuttinck

[2022-05-27 15:08] banzo commented on #37
see [/doc/SECURITY.md](/doc/SECURITY.md)

[2022-05-27 15:08] #37 closed, assigned to nobody